header {
    background-color: #1e1e2a;
    left: 0; 
	top: 0;
    display: flex;
    justify-content: space-between;
    border-top: 5px solid #b12bb1;
    position: fixed;
    width: 100%; 
    box-shadow:  0 0 1rem 0  rgb(0, 0, 0);
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
 .titulo{
   margin: 1.5% 2% 1.2% 5%;;
   font-size:  200%;
} 

body {
    background-color: #1e1e2a;
    background-size: cover;
    color: white;
    padding-top: 80px;
    margin: 0;
}
.contenedorPresentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  15% 0 0  5%;
}
.descripcion {
    display: inline-block;
    font-size: 400%;
    vertical-align: middle;
    width: 100%;
    margin: 0 0 0 0;
}
.descripcion2 {
    display: flex;
    font-size: 125%;
    vertical-align: middle;
    margin:  1% 0 21% 5%;
    color: #a6a6a6;
}

.bar-chart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea las barras a la derecha */
    width: 100%; /* Ajusta el ancho del contenedor */
}

.bar {
    background-color: #b12bb1;
    height: 30px;
    margin: 5px 0;
    width: 0; /* Ancho inicial */
    transition: width 1.5s ease; /* Animación de transición */
}

.bar::before {
    content: ''; /* Añade contenido vacío para permitir el ancho */
    display: block;
    height: 100%;
    background-color: inherit;
}

.Subtitulo {
    font-size: 250%;
}
.Subtitulotxt {
    background-color: rgba(0, 0, 0, 0.257);
    border-radius: 20px;
    font-size: 150%;
    
}

.txt {
    background-color: rgba(0, 0, 0, .5);
    width: 980px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    margin: 2%;
    margin-left: 15%;
}
.boton {
    display: flex;
    justify-content: center;
}










